/* Menu */
#context-sendimage, #context-setDesktopBackground, #context-sep-setbackground,
#context-inspect-a11y, #context-take-screenshot, #context-sep-screenshots {
    display: none !important;
}

/* Window */
#navigator-toolbox {
    border: none !important;
    -moz-window-dragging: drag !important;
}

#PersonalToolbar {
    -moz-window-dragging: drag !important;
}

#private-browsing-indicator-with-label > label {
    display: none !important;
}

#alltabs-button {
    display: none !important;
}
